.fabric__container {
  display: flex;
}

.sidebar__container {
  width: 300px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 14px;
}
.sidebar__toggleBtn {
  display: flex;
  justify-content: space-between;
}
.sidebar__toggleBtn__title {
  font-size: 15px;
}
.sidebar__checkBox {
  display: flex;
  justify-content: space-between;
}

.fabric__list {
  color: blue;
  background-color: #4b4b4b;
  width: 480px;
  height: 100vh;
}

.fabric__list__header {
  display: flex;
  padding: 14px;
  justify-content: space-between;
}

.fabric__list__input {
  padding: 7px 5px;
  width: 312px;
  border-radius: 10px;
  background-color: #d9d9d9;
  color: #51577a;
  border: none;
}
.fabric__list__button {
  padding: 7px;
  border-radius: 10px;
  width: 106px;
  background-color: #d9d9d9;
  color: #51577a;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fabric__listImg {
  padding: 14px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.fabric__detail {
  position: relative;
}

.fabric__detail__img {
  position: relative;
}
.fabric__detail__glassMagnifier {
}

.fabric__detail__toggleBTN {
  position: absolute;
  bottom: 130px; /* Adjust vertical positioning from bottom */
  right: 0;
  width: 66px;
  height: 125px;
  background-color: #d9d9d9;
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.fabric__detail__toggleDetail {
  position: absolute;
  width: 100%;
  height: 256px;
  bottom: 25px;
  background-color: #d9d9d9;
}
